<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.donation.demo.dao.FeedbackMapper">
    <resultMap type="feedBack" id="FeedbackItem">
        <id property="feedback_id" column="feedback_id"></id>
        <result property="feedback_content" column="feedback_content"></result>
        <result property="feedback_senderID" column="feedback_senderID"></result>
        <result property="feedback_time" column="feedback_time"></result>
        <association property="user" javaType="User" column="user">
            <result property="user_nick" column="user_nick"></result>
            <result property="user_name" column="user_name"></result>
        </association>
    </resultMap>
   <select id="getFeedbackList" resultMap="FeedbackItem">
       select f.feedback_content,f.feedback_id,f.feedback_senderID,f.feedback_time,u.user_name,u.user_nick
       from tb_feedback f left join tb_user u on
       f.feedback_senderID=u.user_id
       order by feedback_time DESC
       limit #{start},#{pageSize}
   </select>
    <select id="getTotal" resultType="int">
        select count(*) from tb_feedback
    </select>

    <insert id="add" parameterType="Feedback">
        insert into tb_feedback (feedback_content,feedback_senderID,feedback_time) values
        (#{feedback_content},#{feedback_senderID},#{feedback_time})
    </insert>
    <delete id="del" parameterType="int">
        delete from tb_feedback where feedback_id = #{id}
    </delete>

</mapper>